//_amenities.scss

.prop-amenities {

	li {
		width: 40px;
	    height: 25px;
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: center center;
		&.pool {
			background-image: url('img/amenity-icons/pool.png');
		}
		&.double-sinks {
		    background-image: url('img/amenity-icons/bathtub.svg');
		    background-size: cover;
		} // end .double-sinks
		&.accent-walls {
		    background-image: url('img/amenity-icons/accent-walls.svg');
		} // end .accent-walls
		&.designer-kitchen-upgrades, &.updated-kitchens {
		    background-image: url('img/amenity-icons/kitchen.svg');
		} // end .kitchen
		&.washerdryer-connections {
		    background-image: url('img/amenity-icons/washer.svg');
		} // end .washer
		&.view {
		    background-image: url('img/amenity-icons/has-view.svg');
		} // end view icon
		&.modern-fixtures {
		    background-image: url('img/amenity-icons/modern-fixtures.svg');
		} // end modern fixtures icon
		&.faux-wood-flooring, &.dark-wood-vinyl-floors, &.wood-vinyl-flooring {
		    background-image: url('img/amenity-icons/floors.svg');
		    background-size: cover;
		}
		&.fitness-center {
			background-image: url('img/amenity-icons/gym.png');
		}
		&.pets, &.pet-friendly, &.dog-friendly, &.cat-friendly {
			background-image: url('img/amenity-icons/pets.png');
		}
	}
	li[class*="closet"] {
	    background-image: url('img/new-amenity-icons/closet.svg');
	} // end closet icon
	li[class*="large-closet"] {
	    background-image: url('img/amenity-icons/closet.svg');
	} // end closet icon
	li[class*="fireplace"] {
	    background-image: url('img/new-amenity-icons/fireplace.svg');
	} // end fireplace icon
	li[class*="exposed-brick"] {
	    background-image: url('img/new-amenity-icons/exposed-brick.svg');
	} // end brick wall icon
	li[class*="walk-in-shower"] {
	    background-image: url('img/new-amenity-icons/walk-in-shower.svg');
	} // end shower icon
	li[class*='speaker'] {
	    background-image: url('img/new-amenity-icons/bluetooth-speaker-package.svg');
	} // end speaker icon
	li[class*='built-in-shelf'] {
	    background-image: url('img/new-amenity-icons/built-in-shelf.svg');
	} // end shelf icon
	li[class*='electric-car'] {
	    background-image: url('img/new-amenity-icons/electric-car-charging.svg');
	} // end shelf icon
	li[class*='floor'], li[class*='flooring'] {
	    background-image: url('img/new-amenity-icons/wood-floors.svg');
	} // end wood floors icon
	li[class*='fence'], li[class*='fenced'] {
	    background-image: url('img/new-amenity-icons/fenced-yard.svg');
	} // end fence icon
	li[class*='private-yard'] {
	    background-image: url('img/new-amenity-icons/private-yard.svg');
	} // end private yard icon
	li[class*='washer'], li[class*='dryer'] {
	    background-image: url('img/new-amenity-icons/washing-machine.svg');
	} // end washer/dryer icon
	li[class*='patio'], li[class*='balcony'] {
	    background-image: url('img/new-amenity-icons/balcony.svg');
	} // end patio/balcony icon
	li[class*='vaulted'], li.high-ceilings {
	    background-image: url('img/amenity-icons/vaulted-ceiling.svg');
	} // end vaulted ceiling icon
	li[class*='carpet'], li[class*='carpeted'] {
	    background-image: url('img/amenity-icons/carpet.svg');
	} // end carpet icon
	li[class*='downtown'], li[class*='downtown-view'] {
	    background-image: url('img/new-amenity-icons/downtown-view.svg');
	} // end carpet icon
	li[class*='tub'], li[class*='tubs'] {
	    background-image: url('img/new-amenity-icons/tub.svg');
	} // end carpet icon
	li[class*='concrete'] {
	    background-image: url('img/amenity-icons/concrete.svg');
	} // end concrete icon
	li[class*='cabinet'] {
	    background-image: url('img/new-amenity-icons/cabinetry.svg');
	} // end cabinet icon
	li[class*='cable'] {
	    background-image: url('img/new-amenity-icons/cable-included.svg');
	} // end cable icon
	li[class*='appliance'] {
	    background-image: url('img/new-amenity-icons/appliances.svg');
	} // end appliance icon
	li[class*='lighting'] {
	    background-image: url('img/new-amenity-icons/lighting.svg');
	} // end track-lighting icon
	li[class*='led-lighting'] {
	    background-image: url('img/new-amenity-icons/led-lighting.svg');
	} // end track-lighting icon
	li[class*='tile-backsplash'], li[class*='backsplash'] {
	    background-image: url('img/amenity-icons/backsplash-tiles.svg');
	} // end track-lighting icon
}