//_careers.scss
.page-template-template-careers {
	overflow-x: hidden;
	main {
		padding-bottom: 0;
		h2, h3 {
			color: $primary-gold;
		}
	}
}

.careers-cta-links {
	// background-color: $light;
	padding: 0 1rem;
	.is-career-link {
		background-color: $white;
		width: 98%;
		float: left;
		margin: 1%;
		box-shadow: 0	0	1rem rgba(0,0,0,0);
		// border:2px solid #eee;
		transition: box-shadow 200ms ease-in-out;

		@include breakpoint(medium) {
				width: 31.3333%;
				&:hover {
					box-shadow: 0	0	2.5rem rgba(0, 0, 0, 0.3);
				}
		}
	}
	figure {
		width: 100%;
		margin: 0;
		display: block;
		height: 300px;
		overflow: hidden;
		img {
			width: 100%;
			height: 300px;
			object-fit: cover;
		}
	}
	.cta-details {
		padding: 1.5rem;
		h4 {
			color: $primary-gold;
			@include breakpoint(medium) {
				line-height: 1;
			    margin-bottom: 1rem;
			    min-height: 50px;
			    padding-right: 25%;
			}
		}
		a {
			width: 100%;
			max-width: 250px;
		}
	}
}

.career-cards {
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: $primary;
	color: $action;
	.career-card-wrapper {
		margin-bottom: 2rem;
	}
	@include breakpoint(large) {
		padding-right:3rem;
		padding-left:3rem;
	}
	.is-card {
		width: 98%;
		margin: 1%;
		height: 350px;
		display: flex !important;
		align-items: center;
		justify-content: center;
		text-align: center;
		transform: translateY(0);
		box-shadow: 0 0.75rem 1rem rgba(0,0,0,0.4);
		transition: $anime;
		border: none;
		outline: none;
		@include breakpoint(medium) {
			width: 48%;
			float: left;
		}

		@include breakpoint(large) {
			width: 31.3333%;
		}

		@include breakpoint(xlarge) {
			width: 23%;
		}

		&:hover {
			@include breakpoint(large) {
				transform: translateY(-1rem);
				box-shadow: 0 1rem 1.25rem rgba(0,0,0,0.3);
			}
		}
		.icon-card-wrapper {
			display: block;
			// padding: 4rem 3rem;
			padding: 0 3rem;
			transform: translateY(1rem);
			transition: $anime;
			outline: none;
			border: none;
			@include breakpoint(large) {
				transform: translateY(3rem);
			}
		}
		figure {
			margin: 0 0 2rem 0;
			img, .fa {
				display: inline-block;
			}
			.fa {
				font-size: 5rem;
				line-height: 0;
				color: $action;
			}
		}
		h4 {
			line-height: 1;
			letter-spacing: 2px;
			transform: translateY(0);
			transition: $anime;
		}
		.is-excerpt {
			font-size: 1rem;
			display: block;
			// opacity: 0;
			// transform: scale(0.95);
			// transition: opacity 300ms ease-in-out;
			@include breakpoint(large) {
				opacity: 0;
				transition: opacity 300ms ease-in-out;
			}
		}

		@include breakpoint(large) {
			&:hover {
				transform: translateY(-1rem);
				box-shadow: 0 1rem 1.25rem rgba(0,0,0,0.3);
				transition: $anime;

				.is-excerpt {
					font-size: 1rem;
					opacity: 1;
					// transform: scale(1);
				}
				h4 {
					transform: translateY(-0.5rem);
				}

				.icon-card-wrapper {
					transform: translateY(0);
				}

			}
		}
	}
	.slick-dots {
		bottom: -3.5rem;
		.slick-active {
			button {
				background-color: $accent;
			}
		}
	}
}

.testimonial-wrapper {
	padding-bottom: 3rem;
	margin-bottom: 4rem;
}

.testimonial-wrapper, .testmonial-video {
	// max-height: 450px;
	@include breakpoint(large down) {
		.columns {
			height: auto !important;
		}
	}

}

.testmonial-video {
	transition: width 200ms ease-in-out;
	@include breakpoint(medium) {
		.video-wrapper {
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			padding-top: 25px;
			height: 0;
		}
		.video-wrapper {

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			video {
				width: 100%    !important;
				height: auto   !important;
			}
		}
	}
}
.current-employees {
	padding: 1rem;
	text-align: center;
	margin-bottom: 0 !important;
	// display: flex !important;
    // align-items: center;
    // justify-content: center;

	// overflow: hidden;
	// width: 50%;
	// 	float: right;
	transition: width 200ms ease-in-out;

	@include breakpoint(large only) {
		max-width: 70%;
		margin: 0 auto;
		margin-left: 15%;

		.employee-block {
			display: flex !important;
		    align-items: center;
			justify-content: space-between;
		}
	}

	.employee-details {
		border: none;
		outline: none;
	}


	.slick-list {
		margin-top: 7%;

		// @include breakpoint(medium only) {
		// 	background-color: pink;
		// }
		// @include breakpoint(large only) {
		// 	background-color: blue;
		// }
		// @include breakpoint(xlarge only) {
		// 	background-color: gray;
		// }

	}
	.employee-block {
		// min-width: 300px
		position: relative;
		display: block;
		// cursor: pointer;
		width: auto !important;
		float: none;
		outline: none;
		border: none;
		margin: 1rem 2rem;


		@include breakpoint(large down) {
			// overflow: hidden;
			clear: left;
			float: left;
			margin-bottom: 3rem;
			.employee-details {
				height: auto !important;
				padding: 2rem 0;
			}
		}

		// @include breakpoint(large only) {
		// 	max-width: 50%;

		// }

		// display: flex;
		// flex-direction: column;
		// justify-content: center;
		@include breakpoint(xlarge) {
			// transform: scale(0.4);

			display: inline-block !important;

			.employee-details {
				background-color:$white;
				padding: 1rem 0;
				// width: 300px !important;
				// position: relative;
				// margin-left: -3rem;
				z-index: 10000;
				position: absolute;
				left: 100%;
			}
			&.is-active {
				.employee-details {
					width: 340px;
				}
			}
			&:nth-of-type(1).is-active .employee-details {
				right: auto;
				left: 100%;
			}
			&:nth-of-type(2).is-active .employee-details {
				left: auto;
				right: 100%;
			}
		}


		@include breakpoint(xlarge) {
			cursor: pointer;
		}
		figure {
			// position: relative;
			width: 250px;
			height: 250px;
			border-radius: 50%;
			overflow: hidden;
			border: 0.6rem solid $accent;
			opacity: 1;
			transition: opacity 200ms ease-in-out;
			margin: 0 auto;
			display: inline-block;
			float: left;
			// @include breakpoint(large) {
			// 	margin: 0;
			// 	float: left;
			// }
			img {
				object-fit: cover;
				height: 250px;
			}
			&:hover {
				// box-shadow:inset 0 0 0.5rem rgba(0,0,0,0.5);
				opacity: 0.9;
			}
		}
		.employee-details {
			// position: relative;
			// padding: 1rem;
			margin-left: 2rem;
			height: 250px;
			max-width: 350px;
			// transform: scale(0);
			transform-origin: left center;
			opacity: 1;
			text-align: left;
			float: left;
			display: flex;
			align-items: center;
			overflow-x: hidden;
			overflow-y: auto;
			transition: opacity 100ms ease-in;
			@include breakpoint(small only) {
				margin: 0;
				border-bottom: 3px solid $action;
			}
			@include breakpoint(xlarge) {
				max-width: 0;
				opacity: 0;
				float: left;
			}
			p {
				margin: 0;
				font-size: 0.9rem;
			}
			h3 {
				color: $action;
				margin-bottom: 0;
			}
			h6 {
				font-family: $body-font;
				font-weight: 600;
				margin: 0;
				span {
					color: $accent;
					font-weight: bold;
				}
			}
			.tenure {
				font-size: 0.8rem;
				font-weight: 600;
				font-style: italic;
				display: block;
				text-transform: uppercase;
			}
		}
		&:before {
			content: '\f100';
			font-family: 'FontAwesome';
			font-size: 2rem;
			font-weight: bold;
			position: absolute;
			width: 60px;
			height: 60px;
			line-height: 60px;
			background-color: $accent;
			color: $white;
			border-radius: 50%;
			text-align: center;
			// top: calc(50% - 30px);
			top: calc(250px - 40px);
			left: calc(125px - 30px);
			transform: rotate(-90deg);
			transition: $anime;
			padding-right: 5px;;
			z-index: 100;


			@include breakpoint(large) {
				top: calc(125px - 30px);
				left: 210px;
				transform: rotate(180deg);
			}
			@include breakpoint(xlarge) {
				transform: rotate(0deg);
			}


		}
		&.is-active {

			@include breakpoint(xlarge) {
				.employee-details {
					text-align: left;
					max-width: 350px;
					// transform: scale(1);
					opacity: 1;
					transition: opacity 100ms ease-in;
					// overflow-y: auto;
				}
				&:nth-of-type(1):before {
					transform: rotate(180deg);
					// color: $primary;
					padding-right: 6px;
				}
				&:before {
					color: $primary;
				}
			}//mq
		}
	}//employee-block

	.slides-wrapper-3, .slides-wrapper-2 {
		outline: none;
		border: none;
	}

	.slick-track {
		// text-align: center;
		outline: none;
		border: none;
	}

	.slick-dots {
		bottom: -2rem;
		button {
			background-color: $primary;
		}
		.slick-active {
			button {
				background-color: $accent;
			}
		}
	}
}

@media (min-width: 1200px) and (max-width: 1280px) {
	.testmonial-video {
		width: 40% !important;
	} 
	.current-employees {
		width: 60% !important;
		.slick-list {
		    margin-top: 0;
		}
	}
}

.cta-awards {
	@include breakpoint(medium) {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	a {
		display: block;
		margin: 0 1rem;
	}
	img {
		max-height:140px;
		width: auto;
		max-width: none;
		display: block;
		margin: 1rem auto;
	}
}
