.tabs-content {

	&.contact-page-tab-content {
		padding: 0;

		.tabs-panel {
			max-width: none;
		    padding: 0;
		}
		.tab-data-wrapper {
			padding: 1rem;
			display: flex;
			align-items: center;
			justify-content: center;
			@include breakpoint(medium) {
				width: 50%;
				float: left;
				height: 450px;
			}
			.data-content {
				width: 80%;
				h3 {
					color: $accent;
				}
			}
		}
		.tab-map {
			@include breakpoint(medium) {
				width: 50%;
				float: right;
				height: 450px;
			}
		}
		.tab-form {
			@extend .clearfix;
			padding:3rem;
			clear: both;
			background-color: $accent;
		}
		#contactTabForm form {
			label {
				color: $primary;
			}
			input, select, textarea {
				background-color: $accent;
				border: 2px solid $primary !important;
				color: $primary;
			}
			input[type="submit"] {
				@extend .button;
				// background-color: $primary !important;
				min-width: 200px;
			    font-size: 1rem!important;
			    color: black!important;
			    padding: .5rem 1rem!important;				
			    &:hover {
			    	background-color: white !important;
			    }
			}
		}
	}

}

