//_floorplans.scss

.floorplan-overview {
	border-bottom: 2px solid $action;
	padding: 3rem 0;
	margin-bottom: 3rem;
	@include breakpoint(small only) {
		text-align: center;
		.columns {
			height: auto !important;
		}
		figure {
			margin-bottom: 3rem;
		}
	}
	figure {
		padding: 0 1rem;
	}
	h2 {
		color: $action;
	}
	h3 {
		color: $action;
	}
	h4, h5, h6 {
		font-family: $body-font;
		font-weight: bold;
		.accent-text {
			font-family: $header-font;
		}
	}

	h6 {
		text-transform: uppercase;
		span {
			border-bottom: 2px solid $accent;
		}
	}
	.fp-highlights {
		.button {
			width: 100%;
			@include breakpoint(medium) {
				width: 45%;
				margin-right: 2%;
			}
		}
		ul {
			margin: 1rem 0 2rem;
			list-style-type: none;
			@include breakpoint(medium){
				columns: 2;
			}
			li {
				list-style-type: none;

				&:before{
					width: 16px;
					height: 16px;
					background-image: url(img/RPM_Bullet.png);
					background-size: 100% 100%;
					background-repeat: no-repeat;
					content: " ";

					display: inline-block;
				   	vertical-align: middle;
				    position: relative;
				    top: -3px;
				    margin-right: 5px;
				}

				span.fa{
					color: $accent;
					margin-right: 0.5rem;
				}
			}
		}
	}
}

.floorplan-data {

	.units-load-indicator {
	    padding-bottom: 4rem;
	    text-align: center;
	}	

	.no-units-response {
		padding-bottom: 4rem;
	}

	table {
		thead {
			text-transform: uppercase;
		}
		tr {
			border-top: 0.5rem solid transparent;
			border-bottom: 0.5rem solid transparent;
		}
		.button {
			margin: 0 0.5rem 0 0;
			padding: 0.375rem 1rem;
			font-weight: 600;
		}

		tbody tr:nth-child(even) {
		    background-color: $white;
		}

		.tablesort-asc, table .tablesort-desc {
		    background-color: $primary;
		}
		.tablesort-desc:after, .tablesort-sortable:after {
		    border-top: 4px solid #fff;
		    border-bottom: none;
		    margin-top: 11px;
		}
	}
}

.form-fp-select {

	form {
		select, input {
			display: inline-block;
		    width: 250px;
		    height: 2.25rem;
		    border: 2px solid $primary !important;
		    color: $primary !important;
		    outline: $primary !important;
		}
	}
}

.more-floorplans {

	.floorplan-grid {
		padding: 2rem 0;
		.is-floorplan {
			.floorplan-data {
				.fp-avail-count {
					color: $accent;
				}
			}
			@include breakpoint(medium) {
				display: block;
			    width: 31.3333% !important;
			    float: left;
			    &:nth-of-type(2n+3) {
			    	clear: none;
			    }
			    figure a{
			    	display: block;
			    	min-height: 250px;

			    	display: flex;
			    	align-items: center;
			    	justify-content: center;
			    }
			}
		}
	}
}