//_frontpage.scss

.home-page-hero {
	min-height: 70vh;
}

.fp-pick-up-lines{
	margin-top: 2rem;
	margin-bottom: 2rem;
	@include breakpoint(medium) {
		display: flex;
		align-items: center;
		justify-content: stretch;
	}
	.a-pick-up-line{
		width: 100%;
		text-transform: uppercase;
		text-align: center;
	    padding: 3rem 0rem;
		@include breakpoint(small only) {
			&:nth-of-type(even) {
				padding: 1.5rem 1rem;
				border-bottom: 4px solid $action;
				border-top: 4px solid $action;
			}
		}
		@include breakpoint(medium) {
			padding:2rem 1rem;
			&:nth-of-type(even) {
				border-left: 4px solid $action;
				border-right: 4px solid $action;
			}
		}

		h5{
			display: block;
			font-family: $body-font;
			font-size: 1.25rem;
			color: $action;
			margin: 0;
			line-height: 1;
		}

		h3{
			display: block;
			font-family: "Rozha One","HelveticaNeue",serif;
			font-size: 3rem;
			color: $action;
			margin: 0;
			line-height: 1;
		}
	}

}

.fp-heading-tag-line{	
	background-color: #7ACF7C;
	color: #fff;

	h2{
		margin-bottom: 0px;
		padding-top: 1rem;
		padding-bottom: 1rem;
		text-align: center;
	
		&:before{
			margin-left: 2%;
			margin-right: 2%;

			border-top: 2px solid #fff;
			width: 30%;
			content: " ";
			display: inline-block;
			vertical-align: middle;
			@include breakpoint( 1200px down ) {
				width: 20%;
			}
			@include breakpoint( medium down ) {
				width: 15%;
			}
		}

		&:after{
			margin-left: 2%;
			margin-right: 2%;

			border-top: 2px solid #fff;
			width: 30%;
			content: " ";
			display: inline-block;
			vertical-align: middle;
			@include breakpoint( 1200px down ) {
				width: 20%;
			}
			@include breakpoint( medium down ) {
				width: 15%;
			}
		}

	}
}

.fp-featured-video {
	iframe {
	    width: 100%;
	    min-height: 700px;
	}
}

.fp-featured-properties{
	position: relative;
	max-height: 600px;

	margin-bottom: 0px !important;

	.slide{
		width: 100%;
		height: 500px;
		// img {
		// 	width: 100%;
		// 	max-height: 600px;
		// 	object-fit: cover;
		// }

		a {
			display: block;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover {
				.is-prop-title {
					opacity: 1;
				}
			}
		}

		.is-prop-title {
			// position: absolute
			margin: 0;
			color: $white;
			font-size: 2.5rem;
			text-shadow: 0 0 1.5rem rgba(0,0,0,0.5);
			opacity: 0;
			transition: opacity 200ms ease-in-out;
		}
	}

	.slick-prev, .slick-next{
		transform: none;
		top: 45%;

		color: $action;
		border-color: $action;

		&:hover{
			background-color: transparent;
		}
	}

	.slick-prev{
		left: 15px;
	}

	.slick-next{
		right: 15px;
		left: auto;
	}

	&:before{
		background-color: rgba(255, 255, 255, .5);
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 95;
		width: 75px;
		height: 100%;
		content: " ";
	}

	&:after{
		background-color: rgba(255, 255, 255, .5);
		position: absolute;
		top: 0px;
		right: 0px;
		z-index: 95;
		width: 75px;
		height: 100%;
		content: " ";
	}
}
