//_page.scss

body {
	overflow-y: scroll;
	&.is-reveal-open {
	    overflow: initial !important;
	}
}

.hero {
	min-height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	h1 {
		color: $white;
	}
	&:after {
	    content:"";
	    display: block;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    background-color: rgba(0, 0, 0, .1);
	    z-index: -1;
	}
	.hero-content-wrapper {
		&.large-intro {
			h1 {
				font-size: 6.5rem;
				@include breakpoint( medium down ) {
					font-size: 4.5rem;
				}
			}
			span {
				color: $action;
				background: white;
				padding: 0.5rem;
				text-align: center;
			}
		} // large-intro
		@include breakpoint( medium down ) {
			margin-left: 0;
			margin-bottom: 0;
		}
		&.row {
			@media (min-width: 75rem) {
				width: 75rem;
				margin: 0 auto;
			}
		}
	} // hero-content-wrapper
	@include breakpoint(medium) {
		height: 70vh;
		h1 {
			font-size: 4rem;
		}
	}
	&.is-standard {
		align-items: flex-end;
		justify-content: flex-start;
		padding-bottom: 2rem;
	}
	&.is-minimal {
		@include breakpoint(medium) {
			height: auto;
			h1 {
				font-size: 4rem;
			}
		}
	}
}

.page-id-21 {
	.tabs-content {
		background: $white url('img/marble-BG.jpg') no-repeat;
		background-size: cover;
		box-shadow: inset 2rem 0 2rem -1rem rgba(0,0,0,0.3);
	}
}
