//_search.scss

.community-filters {
	background-color: $primary;
	color: $accent;
	padding: 2rem 0 3rem;
	border-bottom: 1px solid;
	.is-title {
		font-size: 2rem;
		text-align: center;
		@include breakpoint(large) {
			text-align: left;
			margin-bottom: 2rem;
		}
	}
}

.filter-section {
	padding: 0.5rem;
	aside {
		text-align: center;
		@include breakpoint(large) {
			// padding-left: 4rem !important;
			text-align: right;
		}
	}
	.is-tagline {
		color: $white;
		line-height: 1.1;
		margin-bottom: 1.25rem;
		@include breakpoint(large) {
			padding: 0.75rem;
			margin: 0;
		}
	}
	h6 {
		font-family: $body-font;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 0.8rem;
		letter-spacing: 1px;
	}
	//new

	header {
		text-align: left;
	}
	.is-btn-group {
		.button-group {
			border: 1px solid $accent;
			display: inline-block;
			overflow: hidden;
			@include breakpoint(small only) {
				display: flex;
				justify-content: space-evenly;
				.button {
					flex: 1;
				}
			}
			.button {
				border: none;
				// display: block;
				// float: left;
				margin-left: -1px;
				margin-bottom: 0;
			}
			.button:not(:last-child){
				border-right: 1px solid $accent;
			}
		}

		input[type="checkbox"], input[type="radio"] {
			-webkit-appearance: none;
			// position: absolute;
			// height: 0 !important;
			// width: 0 !important;
			// font-size: 0 !important;
			display: none;
			&:checked + label {
				background-color: darken($primary, 3%);
				background-color: $action;
				// color: $primary;
			}
		}
		label {
			font-size: 0.9rem;
			font-weight: normal;
			color: $white;
		}
	}

	.is-slider {

		.slider {
			// margin-bottom: 1rem;
			margin-top: 1rem;
		}
		.slider-values {
			span {
				font-size: 0.9rem;
				float: right;
				margin: 0;
				// &:last-child {
				// 	float: right;
				// }
			}
			input {
				display: inline-block;
				width: auto;
				text-align: left;
				padding: 0 1px !important;
				border: none;
				outline: none;
				box-shadow: none;
				-webkit-appearance: none;
				margin: 0 !important;
			}
			&:last-child {
				span {
					float: left;
					padding-left: 0.75rem;
				}
			}
		}
	}

	.update-btn {
		width: 100%;
		border: 1px solid $accent;
		color: $accent;
	}
}

.advanced-search {

	*::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  	color: $accent !important;
		opacity: 1;
	}
	*::-moz-placeholder { /* Firefox 19+ */
	  	color: $accent !important;
		opacity: 1;
	}
	*:-ms-input-placeholder { /* IE 10+ */
	  color: $accent !important;
	}
	*:-moz-placeholder { /* Firefox 18- */
	  color: $accent !important;
	}

	input[type="date"] {
		color: $accent !important;
	}

	input[type="search"] {
	    color: white;
	}

	.ms-parent {

		span {
			text-transform: uppercase;
			font-weight: 400;
			padding-left: 1rem;
		}
	}
	.ms-choice, .ms-parent {
		max-height: 2rem;
	}

	.ms-choice {
		// padding-right:2rem;
		div {
			width: 30px;
			padding-right: 1rem;
			-webkit-appearance: none;
			-moz-appearance: none;
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb%28126, 199, 139%29"></polygon></svg>');
			background-size: 9px 6px;
			background-position: right center;
			background-origin: content-box;
			background-repeat: no-repeat;
		}
	}

	.is-misc-select {

		button {
			background-color: $primary;
			color: $accent;
			font-weight: 400;
			margin-top:0;
			height: 2rem;
			border: 1px solid $accent;
		}
		input[type="checkbox"] {
			margin-right: 0.5rem;
		}

		.is-beds, .is-baths {
			width: 48%;
			float: left;
		}
		.is-baths {
			float: right;
		}
		select {
			background-position: right -.5rem center;
		}
		@include breakpoint(medium) {
			padding-right: 3px;
		}
	}
	.is-price-select {
		select {
			width: 48%;
			float: left;
			background-position: right -.5rem center;
		}
		select:nth-of-type(2) {
			float: right;
		}
	}

	input[type="submit"] {
		display: block;
		width: 100%;
		padding:0;
		color: $accent;
		// font-weight: 800;
		// box-shadow: inset 1px 1px 0 $accent, inset -1px -1px 0 $accent;
	}

}

.search-dropdown-wrapper {
	position: absolute;
	top: 38px;

	width: 100%;

	z-index: 100;

	ul {
		overflow-y: scroll;
		max-height: 280px;
		background-color: rgba(255,255,255,0.9);

		margin: 0;

		label {
			line-height: 2.2;
			font-weight: 400;
			cursor: pointer;
		}

		input {
			// margin-right: 0.5rem !important;
		}

		li{
			&, a, label{
				color: #000;
			}

			label{
				display: block;

				padding: .25rem .75rem;
				margin: 0;

				font-size: 1rem;

				input[type=radio]{
					margin: 0em;
					height: auto;
					//display: none;
				}

				&:hover, &:focus, &.checked{
					background-color: $action;
					color: #fff;
				}
			}
		}
	}
}

.view-btns {
	padding: 0.5rem;
	text-align: center;
	background-color: $accent;
	span {
		display: inline-block;
		padding:0.5rem;
		font-size: 1.5rem;
		color: $white;
		line-height: 1;
		margin: 0 0.5rem;
		cursor: pointer;
		transition: $anime;
		&.is-active {
			color: $primary;
		}
		&:hover {
			color: $action;
		}
	}
	#viewMap {
		@include hide-for(medium down);
	}
}

.grid-results {
	@extend .clearfix;

	overflow: hidden;
	opacity: 0;
	transform: translateY(0);
	transition: opacity 300ms ease-in, transform 100ms ease-in;
	// @include breakpoint(medium) {
		max-height: 0;
	// }
	&.is-active {
		opacity: 1;
		padding: 0.5%;
		// @include breakpoint(medium) {
			max-height: 16000px;
		// }
	}

	figure {
		margin: 0;
	}

	&.is-grid-v {

		a {
			display: block;
			// position: absolute;
			// top: 0;
			// left: 0;
			width: 100%;
			height: 100%;
			// background-color: rgba(255,255,255,0.5);
		}

		.is-property, .is-pre-footer-cta {
			position: relative;
			width: 90%;
			padding-bottom: 90%;
			margin: 5%;
			overflow: hidden;
			perspective:800px;
			@include breakpoint(medium) {
				float: left;
				width: 48%;
				margin: 1%;
				padding-bottom: 48%;
			}
			@include breakpoint(large) {
				width: 24%;
				padding-bottom: 24%;
				margin: 0.5%;
			}
			.is-photo, .is-details {
				position: absolute;
			}
			.is-photo {
				width: 100%;
				height: 100%;
				transition: filter 200ms ease-in-out;
				// object-fit: cover;
				background-color: $accent;
				@include breakpoint(medium) {
					filter: grayscale(100%);
				}
				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
			.is-details {
				width: 60%;
				height: 60%;
				// min-height: 350px;
				top: 20%;
				left: 20%;
				background-color: $white;
				padding: 1rem;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				box-shadow: 0 0 2rem rgba(0,0,0,0);
				@include breakpoint(medium) {
					transform: scale(0.4) translateY(275%) rotateX(90deg);
					transform-origin: bottom center;
					opacity: 0;
					transition: transform 350ms cubic-bezier(0.25, 0.25, 0, 1.2), box-shadow 350ms ease-in-out;
				}
				h4 {
					font-size: 1.25rem;
					line-height: 1.1;
					color: $primary;
				}
				h6 {
					font-family: $body-font;
					text-transform: uppercase;
					font-size: 0.8rem;
					line-height: 1.2;
					font-weight: 300;
					span {
						display: block;
					}
				}
				p {
					font-size: 0.9rem;
					margin-bottom: 0.5rem;
				}
				a {
					color: $primary;
				}
				.is-map-link {
					font-size: 1.25rem;
					// background-color: pink;
				    display: inline-block;
				    width: initial;
				    padding: 0.25rem 1rem;
				}
				.is-phone {
					&.for-desktop {
						display: none;
						@include breakpoint(41rem up) {
							display: flex;
							display: -webkit-flex;
							display: -ms-flexbox;
						}
					}
					&.for-mobile {
						display: none;
						@include breakpoint(40rem down) {
							display: flex;
							display: -webkit-flex;
							display: -ms-flexbox;
							font-size: 2rem;
						}
					}
				}
			} //is-details
			&:hover {
				.is-details {
					transform: scale(1) translateY(0) rotateX(0);
					opacity: 1;
					box-shadow: 0 0 2rem rgba(0,0,0,0.1);
					// transition: opacity 350ms ease-out;
				}
				.is-photo {
					filter: grayscale(0);
					// &:after {
					// 	background-color: rgba(255,255,255,0);
					// }
				}
			}
		}//is-prop, is-pre-footer-cta
		.is-pre-footer-cta {
			margin: 0;
			width: 100%;
			@include breakpoint(medium) {
				width: 50%;
			}
			@include breakpoint(large) {
				width: 25%;
			}
			.is-details {
				background-color: rgba(255, 255, 255, 1);
				h4 {
					font-weight: bold;
				}
			}
		}
	} //is-grid-view
	&.is-left-sidebar {
		padding: 0;
	}

	&.is-row-v {
		max-width: 1260px;
		margin: 0 auto 3rem;
		transform: translateY(4rem);

		.is-property {
			@extend .clearfix;
			margin: 0.5%;
			background-color: lighten($light, 3%);
			@include breakpoint(large){
				// max-width: 960px;
				// margin: 2rem auto;
				width: 49%;
				float: left;
			}
			.is-details {
				padding: 2rem;
			}
			@include breakpoint(medium){
				.is-photo {
					width: 50%;
					float: left;
					background-color: $light;
					height: 300px;
					overflow: hidden;
					img {
						object-fit: cover;
						height: 100%;
						width: 100%;
					}
				}
				.is-details {
					width: 50%;
					float: right;
					// padding: 2rem;
					h4 {
						font-size: 2rem;
						line-height: 1.1;
					}
					.is-phone {
						&.for-desktop {
							display: none;
							@include breakpoint(medium) {
								display: flex;
								display: -webkit-flex;
								display: -ms-flexbox;
							}
						}
						&.for-mobile {
							display: none;
							@include breakpoint(small only) {
								display: flex;
								display: -webkit-flex;
								display: -ms-flexbox;
								font-size: 2rem;
							}
						}
					}
				}
			}//bp
		}
	}//row-v
	@include breakpoint(small only) {
		&.is-row-v {

			a {
				display: block;
				// position: absolute;
				// top: 0;
				// left: 0;
				width: 100%;
				height: 100%;
				// background-color: rgba(255,255,255,0.5);
			}

			.is-property {
				position: relative;
				width: 90%;
				padding-bottom: 90%;
				margin: 5%;
				overflow: hidden;
				perspective:800px;
				@include breakpoint(medium) {
					float: left;
					width: 48%;
					margin: 1%;
					padding-bottom: 48%;
				}
				@include breakpoint(large) {
					width: 24%;
					padding-bottom: 24%;
					margin: 0.5%;
				}
				.is-photo, .is-details {
					position: absolute;
				}
				.is-photo {
					width: 100%;
					height: 100%;
					// object-fit: cover;
					img {
						height: 100%;
						width: 100%;
						object-fit: cover;
					}
					&:after {
						content: '';
						background-color: rgba(255,255,255,0.5);
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						transition: background-color 300ms ease-in-out;
						// z-index: 100;
					}
				}
				.is-details {
					width: 60%;
					height: 60%;
					// min-height: 350px;
					top: 20%;
					left: 20%;
					background-color: $white;
					padding: 1rem;
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
					box-shadow: 0 0 2rem rgba(0,0,0,0);
					transform: scale(0) translateY(0) rotateX(0);
					// transform-origin: bottom center;
					opacity: 1;
					transition: transform 350ms cubic-bezier(0.50, 0.25, 0, 1.2), opacity 350ms ease-in, box-shadow 350ms ease-in-out;
					h4 {
						font-size: 1.25rem;
						line-height: 1.1;
					}
					h6 {
						font-family: $body-font;
						text-transform: uppercase;
						font-size: 0.8rem;
						line-height: 1.2;
						font-weight: 300;
						span {
							display: block;
						}
					}
				} //is-details
				// &:hover {
				// 	.is-details {
				// 		transform: scale(1) translateY(0) rotateX(0);
				// 		opacity: 1;
				// 		box-shadow: 0 0 2rem rgba(0,0,0,0.1);
				// 	}
				// 	.is-photo {
				// 		&:after {
				// 			background-color: rgba(255,255,255,0);
				// 		}
				// 	}
				// }
			}//is-prop
		} // is mobile row v
	} // bp

}

.is-map-search-container {
	max-height: 0;
	overflow: hidden;
	opacity:0;
	transition: opacity 200ms ease-in;
	&.is-active {
		max-height: 1000px;
		opacity: 1;
	}
	.rp-map-marker {
		figure.is-photo {
		    max-width: 20rem;
		    img {
		    	width: 100%;
		    }
		}
	}
}

.ms-parent {
	width: 100%!important;
    height: auto !important;
    padding: .5rem;
    border: 1px solid #7ec78b;
    margin: 0 0 1rem;
    font-size: 0.85rem;
    font-family: inherit;
    line-height: normal;
    color: #7ec78b;

    margin-top: 0px;
    margin-bottom: 1rem;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.… points='0,0 32,0 16,24' style='fill: rgb%281, 34, 50%29'></polygon></svg>");
    background-size: 9px 6px;
    background-position: right -1rem center;
    background-origin: content-box;
    background-repeat: no-repeat;
    padding-right: 1.5rem;
    padding: 0px 0px 0px 0px !important;



    background-color: transparent;

    button{
    	color: #7ec78b !important;
    	margin-top: 0px !important;
    	background-color: transparent !important;
    }

    .ms-choice {
    	border: none;
    	line-height: 2;
    	span {
    		color: #7ec78b !important;
    	}
    }
	.ms-drop {
		text-align: left;
		left: 0;
		li {
			display: block;
			   clear: both;

			&:first-child {
				display: none;
			}

			&:not(.group) {
				margin-left: 1rem;
			}

			label{
				float: none;
			}

			input[type=checkbox] {
				width: auto;
				margin: 0;
				margin-right: 8px !important;
				height: auto;
				float: none !important;
				-webkit-appearance: checkbox;
			}
		}
	}
}

.location-filters{
	li {
		display: block;
		   clear: both;

		&:first-child {
			display: none;
		}

		&:not(.group) {
			margin-left: 1rem;
		}

		label{
			float: none;
		}

		input[type=checkbox] {
			width: auto;
			margin: 0;
			margin-right: 8px !important;
			height: auto;
			float: none !important;
			-webkit-appearance: checkbox;
		}
	}
}

.custom-slider.rzslider{
	.rz-bar {
	  background: #fff;
	  height: 2px;
	}

	.rz-selection {
	  background: $action;
	}

	.rz-pointer {
	  width: 8px;
	  height: 16px;
	  top: auto; /* to remove the default positioning */
	  bottom: 0;
	  background-color: #7ec78b;
	  border-top-left-radius: 3px;
	  border-top-right-radius: 3px;

	  &:focus{

	  	background-color: $action;
	  	outline: 0;

	  }
	}

	.rz-pointer:after {
	  display: none;
	}

	.rz-bubble {
	  bottom: 14px;
	  color: #7ec78b;
	  font-weight: bold;
	}

	.rz-limit {
	  font-weight: bold;
	  color: #7ec78b;
	}

	.rz-tick.rz-selected {
	  color: #7ec78b;
	}

}

.is-grid-v {
	.grid-special {
		color: #7ec78b;
	}

	.list-special {
		display: none;
	}
}

.is-row-v {
	.grid-special {
		display: none;
	}

	.list-special {
		background: #18382a;
		color: #fff;
		text-align: center;
		padding: .5rem 0;

		p {
			margin-bottom: 0;
		}
	}
}

.is-map-search-container {
	position: relative;
	background-color: #c4e1ff;
	.back-to-map {
		position: absolute;
		top: 1rem;
		left: 1rem;
		cursor: pointer;
	}
}
.map-img-wrapper {
	position: relative;
	max-width: 1538px;
	margin: 0 auto;

	overflow-y: visible;

	#stateTexas {
	    left: 35%;
	    width: 19.25%;
	    bottom: 3%;
		img, svg {
			max-width: 100%;
			fill: transparentize($primary, 0.2);
			& path {
				cursor: pointer;
				transition: $anime;
				&:hover {
					fill: transparentize($primary, 0.1);
				}
			}
		}
	}

	#stateColorado {
		left: 31%;
	    width: 11%;
	    bottom: 42%;
		img, svg {
			max-width: 100%;
			fill: transparentize($primary, 0.2);
			& path {
				cursor: pointer;
				transition: $anime;
				&:hover {
					fill: transparentize($primary, 0.1);
				}
			}
		}
	}

	.is-state {
		position: absolute;
		.state-details {
			position: absolute;
			top: 50%;
			left: 50%;
			color: $white;
			text-align: center;
			transform: translatey(-50%) translateX(-50%);
			pointer-events: none;
			z-index: 100;
		}
		.state-name {
			display: block;
			text-transform: uppercase;
			margin-bottom: 0.25rem;
			font-weight: 700;
		}
		// .apart-number {
		// 	width: 60px;
		// 	height: 60px;
		// 	border: 2px solid $action;
		// 	border-radius: 50%;
		// 	padding:4px;
		// 	span {
		// 		display: block;
		// 		width: 48px;
		// 		height: 48px;
		// 		background-color: $action;
		// 		border-radius: 50%;
		// 		line-height: 48px;
		// 		font-weight: 700;
		// 	}
		// }
	}
}

.map-icon {
	display: inline-block;
	clear: both;
	width: 60px;
	height: 60px;
	border: 2px solid $action;
	border-radius: 50%;
	padding:4px;
	text-align: center;
	span {
		display: block;
		width: 48px;
		height: 48px;
		background-color: $action;
		border-radius: 50%;
		line-height: 48px;
		font-weight: 700;
		font-size: 1.5rem;
		color: $white;
	}
}

.state-focus {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: transparentize($white, 0.05);
	// box-shadow: 0 0 2rem rgba(0,0,0,0.5);

	transform: translateX(100%);
	opacity: 0;
	pointer-events: none;

	z-index: 200;

	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 300ms ease-in-out, opacity 250ms ease-in-out;

	&.is-active {
		transform: translateX(0);
		opacity: 1;
		pointer-events: all;
		transition: transform 500ms ease-in-out, opacity 250ms ease-in-out;
		.state-img-wrapper {
			// display: block;
			// img {
				opacity: 1;
				transform: translateX(0);
				transition: transform 750ms ease-in-out, opacity 750ms ease-in-out;
			// }
		}
	}

	.state-img-wrapper {
		// background-color: pink;
		max-height: 600px;
		max-width: 600px;
		position: relative;

		display: flex;
		align-items: center;
		justify-content: center;

		opacity: 0;
		transform: translateX(600px);
		transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
		// display: none;
		img {
			max-width: 100%;
		}
		.state-locations {
			list-style-type: none;
			margin: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			.is-state-location {
				color: $white;
				// font-weight: bold;
				text-transform: uppercase;
				width: max-content;
				cursor: pointer;
				strong {
					text-shadow: 0 0 0.5rem rgba(0,0,0,0.75);
				}
				.map-icon {
					display: inline-block;
					margin-right: 0.5rem;
				}
			}

			.small-map-icon {
				width: 16px;
				height: 16px;
				display: inline-block;
				// padding: 3px;
				background-color: $action;
				border-radius: 50%;
				margin: 0.5rem;
				cursor: pointer;
				transition: transform 100ms ease-in-out;
			}
		}
	}
	.state-wrapper {
		width: 80%;
	}
	.is-state-side {
		width: 50%;
		float: left;
		.state-img-wrapper {
			min-height: 500px;
			// background-color: $light;
		}
	}
	.is-list-side {
		width: 40%;
		float: right;
		min-height: 500px;
		display: flex;
		align-items: center;
		accordion, .accordion {
			width: 100%;
			.accordion-title {
				font-family: $header-font;
				color: white;
				background: $primary;
				&:hover {
					color: $primary;
					background: white;
				}
			}
		}
	}
}


li.accordion-item {
	p {
	    font-size: 0.95rem;
	    margin-bottom: 0.75rem;
	}
	&.is-active {
	    max-height: 200px;
	    overflow: hidden;
	    overflow-y: scroll;
	}
}
