//_single-prop.scss
body.single-properties {
	overflow-x: hidden !important;
}

.hero {

	&.is-single-prop {
		align-items: flex-end;
		justify-content: flex-start;
	}
	.hero-content-wrapper {
		max-width: 800px;
		padding: 1rem;
		margin-left: 5rem;
		margin-bottom: 3rem;
		// background-color: rgba(0,0,0,0.2);
		h1 {
			font-size: 2.5rem;
			line-height: 1;
			margin-bottom: 0;
		}
		span {
			display: block;
			width: 100%;
			font-size: 1.125rem;
			color: $white;
			font-weight: bold;
			font-family: $body-font;
			font-weight: bold;
			a {
				color: $white;
			}
		}
		.quick-links a {
			font-size: 0.9rem;
			margin-right: 1.25rem;
			.fa {
				margin-right: 0.25rem;
			}
		}
		.is-cta-links {
			padding: 1rem 0 0;
			.button {
			margin-bottom: 0;
			margin-right: 0.5rem;
			min-width: 200px;
			// &:nth-of-type(1) {
			// 	background-color: $action;
			// }
			}
		}
	}
	margin-bottom: -1px;
}

.prop-info {
	// padding: 3rem !important;
	@include breakpoint(large) {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
}
.info-wrapper {
	padding: 1rem;
	max-width: 960px;
	@include breakpoint(large) {
		margin-left: 4rem;
	}
}

@include breakpoint(small only) {
	.entry-content .columns {
		height: auto !important;
	}
}
.prop-address {
	padding: 1rem !important;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	@include breakpoint(large) {
		justify-content: flex-end;
		&:after {
			content: '';
			position: absolute;
			height: 100%;
			width: 4px;
			background-color: $action;
			right: 0;
			top: 0;
		}
	}
	.prop-address-wrapper {
		text-align: center;
		max-width: 350px;
		@include breakpoint(large) {
			margin-right: 2rem;
		}
	}
	h3 {
		color: $action;
		font-size: 2.75rem;
		line-height: 1;
		margin: 0;
	}
	p {
		color: $action;
		font-weight: bold;
	}
	.prop-amenities {
		margin: 0;
		list-style-type: none;
		width: 100%;
		text-align: center;
		li {
			display: inline-block;
			margin: 0.5rem;
		}
	}
	.quick-links {
		padding: 0.5rem;
		a {
			display: block;
			font-weight: bold;
			margin-bottom: 0.5rem;
			i {
				margin-right: 0.5rem;
			}
		}
	}
}

.not-tabs-title {
	@extend .tabs-title;
}

.prop-main-details, .is-left-navigation-content {
	background-color: $primary;
	.tabs {
		padding-top: 3.5rem;
		border: none;
		.tabs-title {
			border-top: 1px solid $white;
			text-align: right;
			a {
				font-size: 1rem;
				text-transform: uppercase;
				padding: 1.25rem 2rem;
				color: $white;
				font-weight: bold;
				&:hover {
					background-color: $primary;
					color: $accent;
				}
			}
			&.is-active {
				a {
					color: $accent;
				}
			}
			&:last-of-type {
				border-bottom: 1px solid $white;
			}
		}
	}
	.amenity-list {
		margin: 0;
		@include breakpoint(large) {
			columns: 2;
		}
		li {
			list-style-position: inside;
		}
	}
	.tabs-content {
		min-height: 400px;
		@include breakpoint(large) {
			padding-left: 4rem;
		}
		.tabs-panel {
			max-width: 960px;
			padding-top: 4rem;
			padding-bottom: 4rem;
		}
	}
	h3 {
		color: $action;
		margin-bottom: 1rem;
	}
	.is-overview {
		h3 {
			color: $action;
			margin-bottom: 1.5rem;
		}
		.prop-amenities {
			list-style-type: none;
			margin: 0 0 1rem;
			li {
				display: inline-block;
				margin-right: 1rem; 
				vertical-align: middle;
				&.fa {
					color: #18382a;
					font-size: 1.5rem;
					text-align: center;
				}
				&:before {
					background-image: none;
				}
				&.featured-amenity {
				    height: 40px;
				    width: 40px;
					&.gym {
						&:before {
						    content: '';
						    background: url(/wp-content/themes/roscoe_v2/img/dumbell.png);
						    font-family: 'FontAwesome';
						    font-size: 1.5rem;
						    line-height: 40px;
						    background-size: contain;
						    height: 40px;
						    width: 40px;
						    color: black;
						    background-position: center center;
						    position: absolute;
						}
					} // end .gym
					&.pool {
						&:before {
							content: '\f09a';
						    font-family: 'FontAwesome';
						    font-size: 1.5rem;
						    line-height: 40px;
						    height: 40px;
						    width: 40px;
						}
					} // end .pool
				}
			}
		}
		.social-links {

			a {
				color: $white;
			}
		}
	}
	#panel3v {
		@include breakpoint(medium) {
			// width: 100%;
			max-width: none;
			padding: 0;
			margin-left: -4rem;
		}
	}
	.is-data-wrapper {
		padding: 1rem;
		@include breakpoint(medium) {
			padding: 4rem 2rem 2rem 5rem;
			h3 {
				margin-bottom: 1.5rem;
			}
		}
		@include breakpoint(large) {
			padding: 4rem 5rem;
		}
	}
	.hood-tab-map {
		background-color: $light;
		@include breakpoint(medium) {
			// margin: -7rem -1rem 0 0;
			iframe {
				display: block;
				float: right;
			}
		}
	}
	.hood-photo {
		height: 350px;
		@include breakpoint(medium) {
			height: 600px;
			// margin: 0 -1rem -4rem -5rem;
		}
	}
}

.filter-controls {

	// form {
	// 	input[type="checkbox"] {
	// 		margin: 0;
	// 	}
	// 	label {
	// 		display: block;
	// 		float: left;
	// 		width: 50%;
	// 		line-height: 2;
	// 		color: $dark;
	// 		font-weight: bold;

	// 		@include breakpoint(medium) {
	// 			width: 25%;
	// 		}

	// 		// padding: 0.5rem;
	// 		input[type="checkbox"] {
	// 			float: left;
	// 			margin: 0;
	// 			border: none;
	// 			outline: none;
	// 		}
	// 	}
	// 	button {
	// 		padding: 0;
	// 		height: 30px;
	// 		width: 100%;
	// 		line-height: 0;
	// 		margin-top: 0.5rem;
	// 		border:2px solid $primary;
	// 		color: $primary;
	// 		background-color: $white;
	// 		font-weight: bold;
	// 		padding: 0 1rem;
	// 		text-align: left;
	// 	}
	// 	@include breakpoint(small only) {
	// 		h3 {
	// 			margin-bottom: 0;
	// 		}
	// 		aside {
	// 			margin-top: 1.5rem;
	// 		}
	// 	}
	// }

	select {
		border-color: $action !important;
		color: $action !important;
	}

	.btn-group-wrapper {
		overflow: hidden;
		display: inline-block;
		border: 1px solid $action;
		font-size: 0;
		label {
			display: block;
			padding:0 1rem;
			height: 2.4375rem;
			line-height: 2.4375rem;
			font-size: 0.85rem;
			color: $action;
			float: left;
			margin-top: -1px;
			cursor: pointer;
			&:not(:last-of-type) {
				border-right: 1px solid;
			}
			&.is-active {
				background-color: $action;
				color: $white;
			}
			input {
				display: none;
			}
		}
	}
}

.prop-slider {
	.is-top-accent {
		position: absolute;
		top: 0;
		left:0;
		height: 50px;
		width: 100%;
		background-color: transparentize($accent, .3);
		z-index: 10;
	}
}
	
.prop-slider {
	position: relative;

	.slick-slider {
		margin: 0;
	}
	.slick-list {
	    height: 600px !important;
	    padding: 0 !important;
	}

	.slide {
		height: 600px;
	}
	.slider-thumbnails {
		height: 600px;
		overflow-y: auto;
	}

	.is-thumb {
		min-height: 200px;
		filter: grayscale(100%);
		transition: $anime;
		&:hover {
			filter: grayscale(0);
		}
	}
	// .slick-prev, .slick-next {
	// 	width: 40px;
	// 	height: 40px;
	// 	border-radius: 50%;
	// 	background-color: transparent;
	// 	border: 2px solid $white;
	// 	color: $action;
	// 	left: 50%;
	// 	margin-left: -20px;
	// 	&:before {
	// 		color: $white;
	// 	}
	// }
	// .slick-prev {
	// 	top: 1.6rem;
	// 	transform: rotate(90deg);
	// }
	// .slick-next {
	// 	top: auto;
	// 	bottom: -15px;
	// 	transform: rotate(45deg);
	// }
}

section.headline-strip.is-white + .grid-results {
    margin-top: -1%;
}

//.floorplan-grid -> moved to modules

.special-banner {
	background: #b22017;
	text-align: center;
	color: #fff;
	padding: 1.5rem 0 1rem;
	h4 {
		margin-bottom: 0;
		line-height: 1;
	}
}

.am-points {
	.amenity-photo-list {
		li:not(.has-photo) {
		    margin-left: -21px;
		}
	}
}
