//_footer.scss

.main-footer {
	background-color: $primary;
	color: $action;
	padding:3rem 0;
	
	.is-info {
		text-align: center;
		@include breakpoint(large) {
			text-align: left;
		}
	}
	h5 {
		color: $action;
		margin-bottom: 1.5rem;
	}

	.footer-menu {
		list-style-type: none;
		margin: 0;
		margin-left: -0.5rem;
		li {
			display: inline-block;
			margin-right: 0.5rem;
			a {
				color: $action;
				text-transform: uppercase;
				padding: 0.5rem;
				font-size: 0.9rem;
				font-weight: 600;
				opacity: 1;
				&:hover {
					opacity: 0.8;
				}
			}
		}
	}


	.is-social {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		@include breakpoint(large) {
			justify-content: flex-end;
		}
	}
}