//_header.scss

.main-header {
    @include breakpoint(medium) {
    	// padding-top: 5em;
    	min-height: 70px;
    }
}

.main-nav {

	.nav-search {
		display: none;
		@include breakpoint(medium) {
			display: block;
			float: right;
			padding-top: 0.22rem;
			form {
				max-width: 175px;
			}
			form, input {
				position: relative;
				margin: 0;
			}

			.search-submit {
				position: absolute;
				top: 0;
				left: 100%;
				border-top: none;
				background-color: $accent;

				display: none; //make edits here
			}

			.search-field {
				padding-left: 1.5rem !important;
			}

			.fa-search {
				position: absolute;
				display: block;
				top: 7px;
				left: 7px;
				line-height: 1.5;
				color: $accent;
				z-index: 100;
			}
		}
	}
}