

.main-nav { // mobile first
    background-color: $primary;
    // border-bottom: 2px solid $primary;
    li {
        list-style: none;
        a {
            text-transform: uppercase;
            display: block;
            color: $white;
            padding: 0.75rem $global-padding;
            border-top: 1px solid $light;
        }
    }
    ul {
        margin: 0;
    }
    .site-title {
        max-width: 60%;
    }
    .home-link {
        padding: 0.5rem 1 rem;
        img {
            display: block;
            transition: $anime;

            image-rendering: -moz-crisp-edges;         /* Firefox */
            image-rendering:   -o-crisp-edges;         /* Opera */
            image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
            image-rendering: crisp-edges;
            -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */

        }
    }

    .menu-container {
        position: relative;
    }
    
    @include breakpoint(medium) {
        // position: absolute;// from relative
        width: 100%;
        transition: top $trans-speed ease-in-out;
        z-index: 100;
        &.nav-up { // only for scroll nav
            position: fixed;
            top: -70px;
        }
        &.nav-down {
            position: fixed;
            top: 0;
            // & + .main-header {
            //    @media (min-width: $medium) {
            //       padding-top: calc(3em + #{$navbar-height});
            //    }
            // }
        }
    } // mq

    // mobile
    @include breakpoint(small only) {
        .toggle {
            position: absolute;
            right: 0;
            top: 5px;
            display: block;
            padding: 1rem;
            font-size: 1.25em;
            cursor: pointer;
            color: $white;
            z-index: 100;
            &:before {
                content: "\f0c9";
                font-family: 'FontAwesome';
            }
            &.is-active:before {
                content: '\f00d';
            }
        }
        .home-link {
            border: none;
            img {
                max-width: 20%;
            }
        }
        .menu {
            position: absolute;
            background-color: $primary;
            width: 100%;
            max-height: 0;
            overflow: hidden;
            transition: max-height $trans-speed ease-in-out;
            z-index: 9;
            li {
                display: block;
                &:nth-of-type(last) {
                    margin-bottom: 1em;
                }
            }
            a {
                color: $white;
                font-size: 0.9rem;
                padding: 0.7rem 1rem;
                border-color: lighten($primary, 5%);
                line-height: 1;
            }
            &.is-active {
                max-height: 800px;
            }
        }
    }
    // end mobile menu
    @include breakpoint(medium) {
        padding: .75rem 1rem;
        position: relative;
    .menu-container {
        max-height: $navbar-height;
        // padding: 0 1rem;
        // position: relative;

        // display: flex;
        // align-items: center;
        // justify-content: space-between;
    }
    .menu, .site-title {
        list-style-type:none;
        display: block;
        // max-height: 46px; // keeps the nav flush in case site-title or menu links have greater line-height
        li {
            float: left;
            position: relative;
            line-height: inherit;
            a {
                display:block;
                font-size:0.85rem;
                font-weight: 600;
                line-height: 1.1;
                color:$action;
                border:none;
                padding:0.75rem 1rem;
                // text-shadow: -1px 1px 0 $light;
                transition: all 100ms ease-in-out;
                &:hover a, &:focus a {
                    color:$primary;
                }
                i {
                    font-size: 1.25rem;
                }
            }
            &:hover > a {
                color:$accent;
                // background-color: darken($accent, 5%); // for main li retaining bg
            }
        }
    } // end menu & site-title

        .site-title {
            float:left;
            margin-right: auto;

            .home-link {
                padding: 0;
                img {
                    height: $navbar-height;
                    max-height: 100%;
                    transition: $anime;
                    max-width: none;
                    width: auto;
                    // image-rendering: -webkit-optimize-contrast;
                    // -webkit-transform: translateZ(0);
                }
                &:after {
                    content: none;
                }
                &:hover {
                   opacity: 0.8;
                   background-color: transparent;
                   // transform: scale(1.05);
                }
            }

        } // end site-title

        .menu {
            float: right !important;
            li {
                &:after { //keeps sub-menu from disappearing during the 2px gutter
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: -2px;
                }
                &.menu-item-has-children {
                    > a {
                        &:after {
                            //content: "▸"; // if not using included icons
                            content: '\f105';
                            // remove following font attributes if not using icons
                            font-family: 'FontAwesome';
                            font-size: 0.75rem;
                            position: relative;
                            margin-left:0.5rem;
                            display:inline-block;
                            pointer-events:none;
                            transition: transform 100ms ease-in-out;
                            transform: scale(1) rotate(0deg);
                        }
                    }//a
                    &:hover > a:after {
                            transform: scale(1) rotate(90deg);
                    }
                }//has-children
                // a {
                //     text-align:center;
                //     font-weight: 400;
                // }
                &.active a {
                    color:$primary;
                }
                & > a:hover {
                    color:$accent;
                    // text-shadow: none;
                    // background-color: darken($primary, 10%);
                }
                .sub-menu {
                    position: absolute;
                    margin: 0;
                    left:0;
                    top: calc(100% + 2px);
                    // border-left: 1px solid darken($light,5%);
                    // border-right: 1px solid darken($light,5%);
                    min-width: 100%;
                    opacity: 0;
                    transform: scale(0);
                    background-color: $primary;
                    padding-top: 0.75rem;
                    //transition: opacity $trans-speed ease-in-out;
                    &:before,&:after {
                        content:'';
                        width:$global-padding*2;
                        height:100%;
                        top: 0;
                        position: absolute;
                    }
                    &:before {
                        right:100%;
                    }
                    &:after {
                        left:100%;
                    }
                    li { // sub-menu li
                        display:block;
                        float:none;
                        // border-top: 1px solid $light;
                        // &:first-child {
                        //     border: none;
                        // }
                        &:last-child {
                            // border-bottom: 1px solid $accent;
                            box-shadow: 0 10px 1rem -5px rgba(0,0,0,0.3);
                        }
                        a {
                            text-align:left;
                            font-size: 0.9rem;
                            text-transform: none;
                            font-weight: 600;
                            line-height: 1.3;
                            color: $action;
                            white-space: nowrap;
                            min-width: 175px;
                            background-color: $primary;
                            //transition: all $trans-speed ease-in-out;
                            &:hover {
                                color:$accent;
                                // background-color: $accent;
                            }
                        }// end sub-menu li a
                    }// end sub-menu li
                }// end sub-menu

            // back in main li
            &:hover > .sub-menu,
            // & a:focus > .sub-menu,
            &.menu-item-has-children a:focus + .sub-menu,
            .sub-menu.active
                {
                opacity: 1;
                     transform: scale(1);
                    .sub-menu { // sub sub-menu
                        top:0;
                        left:100%;
                        margin-left:1px;
                        li {
                            a {
                                border-top:0;
                            }
                        }
                    }
                }
            }// end main li
            & > li a {
                line-height: 1.5;
            }
            > li:last-child { // if the last li has a sub-menu, this will keep it from displaying off screen on the right
                .sub-menu {
                     @include breakpoint(xxlarge) {
                        left: auto;
                        right: 0;
                    }
                }
            }
        }//menu
    }//mq

    strong {
        font-size: 1rem;
        font-weight: 800;
        margin:0;
        line-height: 1;
    }
}// main-nav