//_type.scss

input[type="submit"] {
	@extend .button;
}

.button {
	text-transform: uppercase;
	border-width: 2px;
	transition: $anime !important;
}

.button.ghost-btn {
	background-color: transparent;
	border-color: $accent;
	border-width: 2px;
	color: $accent;
	&:hover, &:focus {
		background-color: $accent;
		border-color: $accent;
	}
}

.button.primary-ghost-btn {
	background-color: transparent;
	border-color: $primary;
	border-width: 2px;
	color: $primary;
}

.button.white-ghost-btn {
	background-color: transparent;
	border-color: $white;
	border-width: 2px;
	color: $white;
	&:hover, &:focus {
		border-color: darken($primary,3%);
	}
}

.button.alt-btn {
	background-color: $action;
	border-color: $action;
	border-width: 2px;
	&:hover, &:focus {
		background-color: darken($action, 10%);
		border-color: darken($action, 10%);
	}
}

.button.white-btn {
	background-color: $white;
	border-color: $white;
	color: $primary;
	border-width: 2px;
	&:hover, &:focus {
		background-color: darken($white, 10%);
		color: $primary;
	}
}

.button.accent-btn {
	background-color: $accent;
	border-color: $accent;
	border-width: 2px;
	&:hover, &:focus {
		background-color: darken($accent, 10%);
	}
}

.button.alt-ghost-btn {
	background-color: transparent;
	border-color: $action;
	color: $action;
	border-width: 2px;
	&:hover, &:focus {
		background-color: $action;
		color: #fff;
	}
}

.button.no-btn {
	background-color: transparent;
	border-color: transparent;
	color:$primary;
	border: 2px solid transparent;
}

.subtle-text, .subtle-text a {
	color: darken($light, 15%);
}

.accent-text {
	color: $accent;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
	display: inline-block;
}

h1,h2,h3,h4,h5 {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.entry-content {
	h3 {
		// font-size: 1.2rem;
		// letter-spacing: 1px;
		color: $accent;
	}
}

body p {
	font-size: 1.1rem;
	line-height: 1.5;
	// color: #555;
	@include breakpoint(medium) {
		font-size: 1.2rem;
	}
}

.headline-strip {
	background-color: $accent;
	text-align: center;
	position: relative;
	z-index: 0;
	.is-headline {
		position: relative;
		margin: 0;
		color: $white;
		display: inline-block;
		padding: 1rem 3rem;
		background-color: $accent;
		z-index: 100;
	}
	&:before {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		background-color: $white;
		height: 2px;
		top: calc(50% - 1px);
		left: 0;
		z-index: 1;
	}
	&.is-white {
		background-color: $white;
		.is-headline {
			color: $primary;
			background-color: $white;
		}
			&:before {
				background-color: $primary;
		}
	}
}

.accent-type {
	color: $accent;
}

body figure {
	margin: 0;
}

blockquote {
	border: none !important;
	&:before {
		content: '\f10d';
		font-family: 'FontAwesome';
		color: $primary;
	}
	&:after {
		content: '\f10e';
		font-family: 'FontAwesome';
		color: $primary;
	}
}

.entry-content, .main-sidebar.widget-area, .tabs-panel {
	ul li:not(.has-photo) {
	    list-style-type: none;
	    &:before {
		    width: 16px;
		    height: 16px;
		    background-image: url(img/RPM_Bullet.png);
		    background-size: 100% 100%;
		    background-repeat: no-repeat;
		    content: " ";
		    display: inline-block;
		    vertical-align: middle;
		    position: relative;
		    top: -3px;
		    margin-right: 5px;
		}
	}
}

.responsive-embed.widescreen, .flex-video.widescreen {
    padding-bottom: 56.25%;
}

.responsive-embed, .flex-video {
    position: relative;
    height: 0;
    margin-bottom: 1rem;
    padding-bottom: 75%;
    overflow: hidden;
}

.responsive-embed iframe, .responsive-embed object, .responsive-embed embed, .responsive-embed video, .flex-video iframe, .flex-video object, .flex-video embed, .flex-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

form {

	input, select {
		color: $accent;
		border-color: $accent !important;
		outline: $accent !important;
		background-color: transparent !important;
		text-transform: uppercase;
		font-size: 0.85rem !important;
		// height: 2rem !important;
		padding: 0 1rem !important;
		&:focus {
			outline: 0 !important;
		}
	}

	button, .button {
		&:focus {
			outline: 0 !important;
		}
	}

	label {
		color: $accent;
		&.checkbox-wrapper {
			position: relative;
			display: flex !important;
			margin-top: 0.5rem;
			cursor: pointer;
			&:before {
				content: '';
				display: inline-block;
				width: 30px;
				height: 30px;
				border: 2px solid $primary;
				margin-right: 0.5rem;
			}
			&:after {
				content: '+';
				// font-family: 'FontAwesome';
				position: absolute;
				font-size: 2.25rem;
				font-weight: 400;
				line-height: 30px;
				width: 30px;
				height: 30px;
				left: 0;
				top: 0;
				text-align: center;
				opacity: 0;
				transform: rotate(0);
				transition: all 100ms ease-in-out;
			}
			&.is-active {
				&:after {
					transform: rotate(45deg);
					opacity: 1;
				}
			}
			input[type="checkbox"] {
				-webkit-appearance: none;
			}
		}
	}
}

form {

	*::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  	color: $dark !important;
		opacity: 1;
	}
	*::-moz-placeholder { /* Firefox 19+ */
		opacity: 1;
	  	color: $dark;
	}
	*:-ms-input-placeholder { /* IE 10+ */
	  color: $dark;
	}
	*:-moz-placeholder { /* Firefox 18- */
	  color: $dark;
	}
}

input[type="search"]::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:$primary;
}
input[type="search"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:$primary;
   opacity:  1;
}
input[type="search"]::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:$primary;
   opacity:  1;
}
input[type="search"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:$primary;
}

form.is-light-text {

	input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: $white !important;
	}
	input::-moz-placeholder { /* Firefox 19+ */
		opacity: 1;
	  	color: $white;
	}
	input:-ms-input-placeholder { /* IE 10+ */
	  color: $white;
	}
	input:-moz-placeholder { /* Firefox 18- */
	  color: $white;
	}

}