//_vars.scss
$navbar-height: 46px;

// * C O L O R S *

$primary: #18382a; // dark green
$primary-gold: #ca956d;
// $action: #c9926b; // med brown
$action: #ca956d;
$accent: #7ec78b; // pukey green

$offwhite: whitesmoke;
$light: #eee;
$dark: #333333;

$muted:lightseagreen;

// * T R A N S P A R E N C Y *

$trans: 0.1;

// * F O N T S *

$header-font: 'Rozha One', "HelveticaNeue", serif;
$body-font: proxima-nova, 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
// $cursive: "Mr Dafoe";

$body-color: $dark;
$header-color: lighten($body-color, 7%);

// * M I S C *

$trans-speed: 200ms;
$anime: all $trans-speed ease-in-out;