.bullet-slider {
	position: relative;
	margin-bottom: 5rem;
	.list-side {
		header {
			// padding:3rem 20%;
			// max-width: 500px;
			// margin: 0 auto;
			// text-align: center;
			padding-left: $global-padding;
			padding-right: $global-padding;
			.button {
				margin-right: 1rem;
			}
		}
		h3 {
			line-height: 1.2;
			// font-weight: 400;
			font-size: 1.25rem;
			color: #fff;
			margin-bottom: 2rem;
			span {
				@include breakpoint(large) {
					font-weight: 700;
					font-size: 2rem;
					display: block;
				}
			}
		}
		color: $primary;
		@include breakpoint(large) {
			float: left;
			width: 50%;
		}
		ul {
			font-weight: 700;
		}
		// .bullet-slider-list {
		// 	max-width: 500px;
		// 	margin: 0 auto;
		// 	list-style-type: none;
		// 	padding-left: $global-padding;
		// 	padding-right: $global-padding;
		// 	// list-style-position: inside;
		// 	@include breakpoint(large) {
		// 		columns: 2;
		// 	}
		// 	li {
		// 		line-height: 1.4;
		// 		margin-bottom: 1rem;
		// 		position: relative;
		// 		padding-left: 1.3rem;
		// 		&:before {
		// 			content: '\f111';
		// 			font-family: 'FontAwesome';
		// 			font-size: 0.8rem;
		// 			position: absolute;
		// 			left: 0;
		// 			top: 3px;
		// 		}
		// 	}
		// }
		footer {
			padding: 0 3rem $global-padding;
			.button {
				display: block;
				// max-width: calc( 500px - #{$global-padding * 2});
				// margin: 0 auto;
			}
		}

		.button.is-active {
			background-color: $primary;
			color: #fff;
		}
		.amenity-bullet-points {
			min-height: 220px;
		}
	}
	.slide-side {
		@include breakpoint(large) {
			float: right;
			width: 50%;
		}
		.has-bg-img, .slick-slide, .slick-track, .slick-list {
			height: 100%;
			padding: 0 !important;
			// background-color: transparent;
		}
	}
	.list-side-wrapper {
		
	}
}

.bullet-slider-list {
	// max-width: 500px;
	// margin: 0 auto;
	list-style-type: none;
	padding-left: $global-padding;
	padding-right: $global-padding;
	// list-style-position: inside;
	@include breakpoint(large) {
		columns: 2;
	}
	li {
		line-height: 1.4;
		margin: 10px 2px;
		position: relative;
		padding-left: 1.3rem;
		&:before {
			content: '\f111';
			font-family: 'FontAwesome';
			font-size: 0.8rem;
			position: absolute;
			left: 0;
			top: 3px;
		}
	}
}

.amenity-module {
	// margin-bottom: 3rem;
	background-color: $light;
	// background: $light url('img/seigaiha.png') repeat;
	// padding-left: 2rem;
	// h4 {
	// 	font-size: 1.25rem;
	// 	margin: 2rem 0;
	// }

	.amenity-gallery {
		background-color: $primary;
		position: relative;
		z-index: 0;
		height: 300px;
		display: block;
		border: 0.5rem solid $white;
		@include breakpoint(large) {
			overflow: hidden;
			position: absolute;
			right: 0;
			top: 0;
			width: 55%;
			height: 100%;
		}

		.amenity-img-overlay {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: transparentize($accent,0.5);
			z-index: 10;
		}

		.am-img {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			transition: all 400ms ease-in-out;
			opacity: 0;
			transform: translateX(25%);
			z-index: 0;
			&.is-active {
				opacity: 1;
				transform: translateX(0);
				z-index: 10;
			}
		}

	}
}

.amenity-bullet-points {
	padding: 2rem !important;
	position: relative;
	background-color: $white;
	margin: 0;
	z-index: 10;
	@include breakpoint(large) {
		min-height: 450px;
		width: 45%;
		max-width: 960px;
		padding: 4rem 5rem !important;
		background-color: $white;
	}
	.button {
		margin-right: 1rem;
		background-color: $primary;
		border: 2px solid $primary;
		box-shadow:none;
		transition: $anime;
		&:hover {
			border-color: $primary;
		}
		&.is-active {
			background-color: #fff;
			border-color: $primary;
			box-shadow: 0 0 1rem rgba(0,0,0,0.35);
			color: $primary;
		}
	}

	h5 {
		font-family: $body-font;
		font-size: 1.2rem;
		font-weight: 600;
	}

	.am-points {
		padding-left: 1rem;
		margin-left: -1rem; 
		max-height: 0;
		overflow: hidden;
		&.is-active {
			max-height: 800px;
		}
	}
	li {
		margin-bottom: 0.5rem;
		color: $primary;
		// font-weight: 400;
	}
	.has-photo {
		list-style-type: none;
		position: relative;
		// color: $primary;
		cursor: pointer;
		&:before {
			content: '\f030';
			font-family: 'FontAwesome';
			color: $action;
			position: absolute;
			left: -1.4rem;
			font-size: 0.9rem;
			transform: scale(1);
			transition: $anime;
		}
		&.is-active {
			// color: $action;
			// font-weight: 600;
			&:before {
				color: $primary;
				transform: scale(1.25);
			}
		}
	}
}

.amenity-tab {
	position: relative;
	max-width: none !important;
	padding:0 !important;
	@include breakpoint(large) {
		margin-left: -4rem;
	}
}