.floorplan-grid {
	padding: 2rem 0;

	.is-floorplan {
		padding: 0.5rem !important;
		// border: 2px solid $primary;
		box-shadow: none;
		// transform: translateY(0);
		transition: $anime;

		@include breakpoint(medium only) {
			&:nth-of-type(2n+3) {
			    clear: left;
			}
		}
		@include breakpoint(large) {
			&:nth-of-type(3n+4) {
			    clear: left;
			}
		}

		figure {
			margin: 0;
			padding-top: 1rem;
			text-align: center;
			img {
				max-height: 250px;
			}
		}
		.floorplan-data {
			padding: 1rem;
			h4 {
				font-size: 1.75rem;
				line-height: 1;
			}
			h6 {
				font-family: $body-font;
				font-weight: bold;
				text-transform: uppercase;
			}
			.fp-available-unit-count {
				color: $accent;
			}
		}
		p {
			font-size: 0.9rem;
			&.is-count {
				margin: 0 0 1rem;
			}
		}
		.button {
			display: block;
			background-color: $action;
			width: 100%;
			margin: 0;
		}
		@include breakpoint(xlarge) {
			width: 48%;
			margin: 1%;
			float: left;
		}
		@include breakpoint(xxlarge) {
			width: 31.33%;
			// float: left;
		}
	
		&:hover {
			box-shadow: 0 0 2rem rgba(0,0,0,0.3);
		}

	} //lis-floorplan
}