//_fyoudivi.scss

.page-template-page-divi {
	.gform_wrapper {

		#et_builder_outer_content div, #et_builder_outer_content span, #et_builder_outer_content object, #et_builder_outer_content iframe, #et_builder_outer_content video, #et_builder_outer_content h1, #et_builder_outer_content h2, #et_builder_outer_content h3, #et_builder_outer_content h4, #et_builder_outer_content h5, #et_builder_outer_content h6, #et_builder_outer_content p, #et_builder_outer_content blockquote, #et_builder_outer_content a:active, #et_builder_outer_content a, #et_builder_outer_content img, #et_builder_outer_content ol, #et_builder_outer_content ul, #et_builder_outer_content li, #et_builder_outer_content form, #et_builder_outer_content label, #et_builder_outer_content em, #et_builder_outer_content strong, #et_builder_outer_content input, #et_builder_outer_content textarea, #et_builder_outer_content hr, #et_builder_outer_content .hentry {
		    margin: fuckyoudivi !important;
		    padding: fuckyoudivi !important;
		    border: 2px solid $dark !important;
		    outline: 0 !important;
		    // vertical-align: baseline;
		    // background: transparent;
		    // letter-spacing: normal;
		    color: inherit !important;
		    box-shadow: none !important;
		    text-shadow: none !important;
		    border-radius: 0 !important;
		    transition: none !important;
		}

		.button.gform_button, input[type="submit"] {
			display: inline-block !important;
		    text-align: center !important;
		    line-height: 1 !important;
		    cursor: pointer !important;
		    -webkit-appearance: none !important;
		    transition: background-color 0.25s ease-out, color 0.25s ease-out !important;
		    vertical-align: middle !important;
		    border: 1px solid transparent !important;
		    border-radius: 0 !important;
		    padding: 0.85em 1em !important;
		    margin: 0 0 1rem 0 !important;
		    font-size: 0.9rem !important;
		    background-color: $primary !important;
		    color: $white !important;
		    width: auto !important;
		}

		.et_divi_builder #et_builder_outer_content .et_pb_module input[type=text], .et_divi_builder #et_builder_outer_content .et_pb_module input[type=password], .et_divi_builder #et_builder_outer_content .et_pb_module input[type=tel], .et_divi_builder #et_builder_outer_content .et_pb_module input[type=email], .et_divi_builder #et_builder_outer_content .et_pb_module input.text, .et_divi_builder #et_builder_outer_content .et_pb_module input.title, .et_divi_builder #et_builder_outer_content .et_pb_module input textarea, .et_divi_builder #et_builder_outer_content .et_pb_module input select, textarea.textarea {
		    border: 2px solid $dark !important;
		    color: #4e4e4e !important;
		    padding: 5px 10px !important;
		    height: auto !important;
		    max-height: 150px;
		    width: auto !important;
		}

		textarea.textarea {
			width: 100% !important;
		}

		input {
		    width: 96% !important;
		    border: 2px solid $dark !important;
		}

		.gfield, .name_last, .name_first {
		    margin-bottom: 10px !important;
		}

		.name_first label, .name_last label {
		    color: #fff !important;
		    font-size: 0 !important;
		}

		.gf_name_has_2 {
			float: left;
		}

		.ginput_container_name {
		    max-width: 100% !important;
		}

		@media only screen and (min-width: 641px) {
			div.ginput_complex.ginput_container.gf_name_has_2 span {
			    float: left;
			}
		}

		.chosen-container .chosen-drop {
		    position: absolute;
		    top: 100%;
		    left: -9999px;
		    z-index: 1010;
		    -webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box !important;
		    width: 100%;
		    border: 1px solid #AAA;
		    border-top: 0 !important;
		    background: $white !important;
		    box-shadow: 0 4px 5px rgba(0,0,0,.15) !important;

		    overflow: auto;
		}

		.chosen-container.chosen-container-single {
			margin-top: 5px !important;
		    width: 100% !important;
		    padding: 7px 10px 3px !important;
		    background-color: $light !important;

		    .chosen-single {
		    	color: $dark !important;
		    }
		}

		.chosen-results {
			// margin: 0 !important;
			// overflow: auto;
			height: 98%;

			li.active-result {
			    display: block !important;
			    padding: 5px 0 !important;
			}
		}





	}
}