@include breakpoint(medium) {

	.gform_wrapper form {
		position: relative;
		float: left;
	    width: 100%;
	}

	// .gform_fields {
	//     float: left;
	//     width: 100%;
	// }

	.horiz-form.input-third {
		float: left !important;
	    width: 25% !important;
	    clear: none !important;
	    .datepicker {
	    	width: 100% !important;
	    }
	}

	#gform_1 input#gform_submit_button_1 {
	    position: absolute;
	    bottom: 42px;
	    right: 0;
	    width: 23%;
	    height: 39px;
	    line-height: 0;
	    background-color: transparent;
	    color: $accent;
	}

	#gform_1 .gform_wrapper .gform_footer {
	    padding: 0;
	}

}