//_modules.scss

.has-bg-img {
	// background-color: $accent;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

// .hero {
// 	&.has-bg-img {
// 		background-attachment: fixed;
// 	}
// }

.is-accent {
	background-color: $accent;
	color: $white;
}

.light-text {
	color: $white;
}

.light-bg {
	background-color: $light;
}

.offwhite-bg {
	background-color: $offwhite;
}

.light-text {
	color: $light;
	p, h1, h2, h3, h4, h5, h6 {
		color: $light;
	}
}

.white-bg {
	background-color: #fff !important;
}

.dark-bg {
	background-color: $dark;
	color: $light;
	h2, h3, h4, h5, h6 {
		color: $light;
		font-weight: 300;
	}
}

.primary-bg {
	background-color: $primary;
	color: $light;
	p, h2, h3, h4, h5, h6 {
		color: $light;
		font-weight: 300;
	}
}

.logo-divider {
	position: relative;
	border-top: 2px solid darken($white, 4%);
	margin: 3rem 0;
	&:before {
		content: '';
		width: 120px;
		height: 52px;
		background-color: $light;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url('img/venterra-grey-divider-logo.png');
		background-size: contain;
		position: absolute;
		top: -33px;
		left: 50%;
		margin-left: -60px;
		display: block;
		z-index: 10;
	}
	&.is-white {
		&:before {
			background-color: $white;
		}
	}
	&.more-space {
	    margin: 6rem 0 3rem;
	}
}

.with-bottom-accent {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 100%;
		left:0;
		height: 50px;
		width: 100%;
		background-color: transparentize($accent, .3);
		z-index: 100;
	}
}

.accent-wrapper {
	background-color: $dark;
}

.is-secondary {
	background-color: $secondary-color;
}

.padded-y {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.super-padded-y {
	padding: 6rem 0;
}

.padded-x {
	padding-left: 3rem !important;
	padding-right: 3rem !important;
}

.true-center {
	@include breakpoint(medium) {
		display: flex;
		align-items: center;
		justify-content: center;
	} 
}

.margin-top {
	margin-top: 2rem;
}
.margin-bottom {
	margin-bottom: 2rem;
}

.center-bottom {
	@include breakpoint(medium) {
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}
}

.wide-row {
	@include breakpoint(large) {
		max-width: 90% !important;
	}
}

.clearboth {
	clear: both;
}

.panel {
	background-color: $light;
	padding: $global-padding $global-padding*1.5;
}

.is-narrow .row, .is-narrow.row {
	max-width: 840px;
}

.full-width-hero + .is-block {
	padding-top: 0;
}

.minimal-cta {
	padding: 2rem;
	@include breakpoint(medium) {
		padding: 4rem 0 5rem;
	}

	header {
		@include breakpoint(medium) {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
		h5 {
			text-align: center;
			font-size: 2rem;
			color: $action;
			line-height: 1;
			// padding: 1.5rem;
			@include breakpoint(medium) {
				text-align: right;
				margin: 0;
			}
			span {
				display: block;
			}
		}
	}
	p {
		margin: 0;
		max-width: 450px;
	}
}

.cta-strip {
	ul {
		margin: 0;
		list-style-type: none;
		// @include breakpoint(medium) {
		// 	display: flex;
		// }
	}
	&.is-subfooter {
		background-color: $accent;
		li {
			display: block;
			@include breakpoint(medium) {
				// flex: 1;
				width: 25%;
				float: left;
				&:nth-of-type(n+2) {
					a:after {
						content: '';
						position: absolute;
						height: 40%;
						top: 30%;
						left: -1px;
						width: 2px;
						background-color: $white;
					}
				}
			}//bp
		}
		a {
			display: block;
			font-family: $header-font;
			text-transform: uppercase;
			font-size: 1.25rem;
			color: $white;
			padding:1rem;
			text-align: center;
			position: relative;
			transition: $anime;
			@include breakpoint(medium) {
				padding:1.5rem;
			}
			&:hover {
				// background-color: darken($accent, 5%);
				color: $primary;
			}
		}
	}

}

.cta-tour {
	background: url(img/marble-BG.jpg) no-repeat;
	color: $white;
	text-align: center;
	h4 {
		font-size: 1.25rem;
		margin-bottom: 1.5rem;
	}
	.trans-wrapper {
		padding: 2rem;
	}
	&.has-bg-img {
		background-size: cover;
		background-position: center center;
	}
	@include breakpoint(medium) {
		h4 {
			display: inline-block;
			font-size: 1.75rem;
			line-height: 1.1;
			margin: 0 3rem 0 0;
			span {
				display: block;
			}
		}
		.cta-text, .cta-btn {
			min-height: 75px;
			display: flex;
			align-items: center;
		}
		.cta-text {
			text-align: right;
			justify-content: flex-end;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				width: 2px;
				height: 80%;
				top: 10%;
				right: -1px;
				background-color: $white;
			}
		}
		.cta-btn {
			text-align: left;
			justify-content: flex-start;
			.button {
				margin: 0 0 0 3rem;
			}
		}
	}//bp 
	@include breakpoint(large) {
		h4 {
			font-size: 2rem;
		}
	}
}

.trans-wrapper {
	background-color: transparentize($action, 0.2);
}

.green-trans-wrapper {
	background-color: transparentize($accent, 0.2);
}


.flexi-lists {
	@include breakpoint(medium) {
		display: flex;
	}
	.flexi-child {
		@include breakpoint(medium) {
			flex: 1;
			text-align: center;
		}
		ul {
			list-style-type: none;
			margin: 0;
			h5	{
				text-align: left;
				font-size: 1.125rem;
				margin: 0;
			}
			display: inline-block;
			li {
				text-align: left;
				// line-height: 1.4;
			}
		}
	}
}

.angular-google-map {
	h4 {
		font-size: 1.25rem;
	}
	ul.available-sizes {
	    margin: 0;
	    list-style-type: none;
	    li {
		    display: inline-block;
		    margin-right: 1rem;
		    a {
		    	font-weight: bold;
		    	span {
		    		font-weight: normal;
		    	}
		    }
		}
	}
	p {
		font-size: 0.9rem;
	}
}

.leadership-loop {
	h4 {
		text-align: center;
	}
	.is-leader {
		margin-bottom: 2rem;
		max-width: 800px;
		figure {
			position: relative;
			width: 60%;
			padding-bottom:60%;
			margin: 0 auto 1rem;
			border: 3px solid $white;
			box-shadow: 0 0 2px $action;
			@include breakpoint(medium) {
				width: 25%;
				padding-bottom: 25%;
				float: left;
			}
			border-radius: 50%;
			overflow: hidden;
			img {
				position: absolute;
				width: auto;
				max-width: 200%;
				height: 100%;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
			}
		}
		.leader-info {
			@include breakpoint(medium) {
				width: 75%;
				float: right;
				padding-left: 2rem;
			}
			h3 {
				margin-bottom: 0;
			}
			h6 {
				color: $action;
				margin-bottom: 0;
			}
		}
	}
}