@charset "UTF-8";

// Default Variables

$slick-font-path: "./fonts/" !default;
$slick-font-family: "FontAwesome" !default;
$slick-loader-path: "./img/" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\f104" !default;
$slick-next-character: "\f105" !default;
$slick-dot-character: "•" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

// @function slick-image-url($url) {
//     @if function-exists(image-url) {
//         @return image-url($url);
//     }
//     @else {
//         @return url($slick-loader-path + $url);
//     }
// }

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("img/ajax-loader.gif") center center no-repeat;
    }
}

// /* Icons */
// @if $slick-font-family == "slick" {
//     @font-face {
//         font-family: "slick";
//         src: slick-font-url("slick.eot");
//         src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
//         font-weight: normal;
//         font-style: normal;
//     }
// }

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    // line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    // background: $action;
    color: #fff;
    // top: 50%;
    left: 50%;
    // transform: translateX(-50%);
    padding: 0 !important;
    margin: 0 !important;
    border: 2px solid $white;
    border-radius: 50% !important;
    outline: none;
    text-align: center;
    z-index: 100;
    &:hover, &:focus {
        outline: none;
        background: $white;
        color: $action;
        &:before {
            color: $action;
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
}

.slick-prev:before, .slick-next:before {
    font-family: $slick-font-family;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 1.5rem;
    width: 35px;
    display: inline-block;
    text-align: center;
    line-height: 0.5;
    color: $slick-arrow-color;
    opacity: $slick-opacity-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    // left: 0;
    top: 0.35rem;
    transform: translateX(-50%) rotate(90deg);
    [dir="rtl"] & {
        left: auto;
        right: 0;
    }
    &:before {
        content: $slick-prev-character;
        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}

.slick-next {
    // right: 0;
    bottom: 0.35rem;
    transform: translateX(-50%) rotate(90deg);
    [dir="rtl"] & {
        left: 0;
        right: auto;
    }
    &:before {
        content: $slick-next-character;
        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
}

/* Dots */

.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    // bottom: -45px;
    bottom: 0;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
    margin-left: 0;
    li {
        position: relative;
        display: inline-block;
        background-color: #fff;
        border-radius: 10px;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 2px;
        cursor: pointer;
        button {
            border: 0;
            // background: $business;
            background: transparent;
            display: block;
            height: 16px;
            width: 16px;
            border-radius:8px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            // &:before {
                // position: absolute;
                // top: 0;
                // left: 0;
                // content: $slick-dot-character;
                // width: 20px;
                // height: 20px;
                // font-family: $slick-font-family;
                // font-size: $slick-dot-size;
                // line-height: 20px;
                // text-align: center;
                // color: $slick-dot-color;
                // opacity: $slick-opacity-not-active;
                // -webkit-font-smoothing: antialiased;
                // -moz-osx-font-smoothing: grayscale;
            // }
        }
        // &.slick-active button {
        //     background: $action;
        //     // opacity: $slick-opacity-default;
        // }
    }
}
