.social-links, .nav-social-links {
	display: block;
	margin: 0;
	// width: 100%;
	li {
		display: inline-block;
		text-align: center;
		background-color: $action;
		// width: 40px;
		// height: 40px;
		// line-height: 40px;
		// background-color: rgba(0,0,0,0.4);
		margin: 0 0.5rem 0.5rem 0;
		// border-radius: 50%;
		opacity: 1;
		&:hover {
			background-color: transparentize($action, 0.2);
			// opacity: 0.8;
		}
		a {
			color: $primary;
			display: block;
			font-size: 0;
			font-family: 'FontAwesome';
			text-align: center;
			width: 40px;
			height: 40px;
			&:before {
				content: '\f0c8';
				font-family: 'FontAwesome';
				font-size: 1.5rem;
				line-height: 40px;
			}
			&:hover {
				// background-color: $accent;
				opacity: 0.8;
			}

			&[href*="twitter.com"]     { 
			    // &:hover,&:focus {
			    //     background-color: #55acee !important; 
			    // }
			    &:before {
			        content: '\f099';
			    }
			}

			&[href*="plus.google.com"] { 
			    // &:hover,&:focus {
			    //     background-color: #dd4b39; 
			    // }
			    &:before {
			        content: '\f1a0';
			    }
			}

			&[href*="facebook.com"]    { 
			    // &:hover,&:focus {
			    //     background-color: #3B5998; 
			    // }
			    &:before {
			        content: '\f09a';
			    }
			}

			&[href*="mailto"]       { 
			    // &:hover,&:focus {
			    //     background-color: $dark; 
			    // }
			    &:before {
			        content: '\f0e0';
			    }
			}

			&[href*="linkedin.com"]    { 
			    // &:hover,&:focus {
			    //     background-color: #0976b4; 
			    // }
			    &:before {
			        content: '\f0e1';
			    }
			}

			&[href*="pinterest.com"]    { 
			    // &:hover,&:focus {
			    //     background-color: #cc2127; 
			    // }
			    &:before {
			        content: '\f231';
			    }
			}

			&[href*="instagram.com"]    { 
			    // &:hover,&:focus {
			    //     background-color: #3f729b; 
			    // }
			    &:before {
			        content: '\f16d';
			    }
			}

			&[href*="vimeo.com"]    { 
			    // &:hover,&:focus {
			    //     background-color: $dark; 
			    // }
			    &:before {
			        content: '\f27d';
			    }
			}

			&[href*="youtube.com"]    { 
			    // &:hover,&:focus {
			    //     background-color: #cd201f; 
			    // }
			    &:before {
			        content: '\f167';
			    }
			}

			&[href*="yelp.com"]    { 
			    // &:hover,&:focus {
			    //     background-color: #af0606; 
			    // }
			    &:before {
			        content: '\f1e9';
			    }
			}

			&[href*="soundcloud.com"]    { 
			    // &:hover,&:focus {
			    //     background-color: $primary; 
			    // }
			    &:before {
			        content: '\f1be';
			    }
			}
		} //a 
	}
}