//_state-locations.scss

.state-locations {


	.is-state-location {
		position: absolute;
		left: 0;
		bottom: 0;
	}

	.city-location {
		position: absolute;
		// opacity: 0;
		// transition: all 2s ease-in;
	    // transform: scale(0.75);

		&:hover {
		    .small-map-icon {
				transform: scale(1.3);
				z-index: 200;
			}
			strong {
				opacity: 1;
				transform: scale(1);
				left: 98%;
			}
		}


		strong {
		    position: absolute;
		    font-size: 0.9rem;
		    // top: 30%;
		    top: 4px;
		    width: 150px;
		    left: 0;
		    word-wrap: normal;
		    color: #fff;
		    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
		    opacity: 0;
		    transform: scale(0);
		    transform-origin: left;
		    transition: opacity 200ms ease-in-out;
		    z-index: 120;
		}

		&[data-city="Dallas"]{
			left: 75%;
			bottom: 55%;
			opacity: 1;
		}

		&[data-city="Austin"]{
			left: 65%;
			bottom: 43%;
			opacity: 1;
			// z-index: 101;
		}

		&[data-city="San Antonio"]{
			left: 55%;
			bottom: 35%;
			opacity: 1;
		}

		&[data-city="Pflugerville"]{
			left: 61%;
			bottom: 50%;
			opacity: 1;
			// z-indez: 102;
		}

		&[data-city="Houston"]{
			left: 80%;
			opacity: 1;
			bottom: 35%;
		}

		&[data-city="Richmond"]{
			left: 50%;
			opacity: 1;
			bottom: 30%;
		}

		&[data-city="Katy"]{
			left: 70%;
			opacity: 1;
			bottom: 39%;
		}

		&[data-city="Round Rock"]{
		    left: 65%;
		    bottom: 48%;
		    opacity: 1;
			// z-index: 100;
		}

		&[data-city="Cedar Park"]{
		    left: 35%;
		    bottom: 38%;
		    opacity: 1;
			// z-index: 100;
		}



	}

}

// .state-focus.is-active {
// 	.city-location {
// 		opacity: 1;
// 	}
// }